html, body{
  background-color: #111;
}
.note{
  color:#eee;
}
.text{
  background-color: #444;
}
#editor{
  background-color: #222;
}
#text{
  outline-color: #000;
  border-bottom: 1px solid #000;
  background-color: #333;
  color:#eee;
}
button, input, select{
  background-color: #222;
  color: #aaa;
  border-top: 1px solid #333;
  border-bottom: 3px solid #222;
}
#kill, #feedamount, #feedmultiplier{
  background-color: #333;
}
button:hover, input:hover, select:hover{
  border-color: #143;
  background-color: #265;
  color:#fff;
}
#inspector{
  background-color: #333;
}
#info{
  background-color: #eee;
  color: #000;  
}
#age, #remaining{
  background-color: #333;
  color: #ccc;

}
#deadbodies{
  background-color: #eee;
}
.dead{
  color: #666;
}
#dead{
  background-color: #ddd;
  color:#333;
  border: none;
}
.dead:hover{
  color: #ddd;
  background: #000;
}

