html, body{
  background-color: #ddd;
}
.note{
  color:#fda;
  color:#000;
}
.text{
  background-color: #fff;
}
#editor{
  background-color: #fff;
}
#text{
  outline-color: #aaa;
  border-bottom: 1px solid #ddd;
}
button{
  background-color: #fff;
  color: #555;
  border-top: 1px solid #ddd;
  border-bottom: 3px solid #ddd;
}
input, select{
  border-bottom: 3px solid #ddd;
}
button:hover{
  background-color: #fafafa;
  background-color: #fda;
  border-color: #db6;
  color:#000;
}
#murder, #feedamount, #feedmultiplier{
  background-color: #eee;
}
#murder:hover{
  background-color: #000;
  color:#f00;
  border-color: #000;
}
#inspector{
  background-color: #eee;
}
#info{
  background-color: #000;
  color: #eee;
}
#deadbodies{
  background-color: #000;
}
#dead{
  background-color: #444;
  border: none;
  color:#ddd;
}
.dead{
  color: #ddd;

}
.dead:hover{
  color: #666;
  background: #eee;
}
